<html>

<body>
    <div class="categories-page_show-content">
        <div id="content_for_scroll" class="content_locate">
            <a href="img/calif/1.jpg" data-lightbox="example-set">
                <div class="tt"><img src="img/calif/1.jpg" width="350" height="250"></div>
            </a>
            <a href="img/calif/2.jpg" data-lightbox="example-set">
                <div class="tt"><img src="img/calif/2.jpg" width="180" height="110"></div>
            </a>
            <a href="img/calif/1.jpg" data-lightbox="example-set">
                <div class="tt"><img src="img/calif/1.jpg" width="250" height="250"></div>
            </a>
            <a href="img/calif/2.jpg" data-lightbox="example-set">
                <div class="tt"><img src="img/calif/2.jpg" width="180" height="110"></div>
            </a>
        </div>
    </div>
    <script src="js/locate.js"></script>
</body>

</html>
