<html>

<body>
    <div class="categories-page_show-content">
        <div id="content_for_scroll" class="content_locate">
            <a href="img/venice/4.jpg" data-lightbox="example-set">
                <div class="tt"><img src="img/venice/4.jpg" width="180" height="280"></div>
            </a>
            <a href="img/calif/2.jpg" data-lightbox="example-set">
                <div class="tt"><img src="img/calif/2.jpg" width="180" height="210"></div>
            </a>
            <a href="img/venice/3.jpg" data-lightbox="example-set">
                <div class="tt"><img src="img/venice/3.jpg" width="250" height="150"></div>
            </a>
            <a href="img/taiwan/1.jpeg" data-lightbox="example-set">
                <div class="tt"><img src="img/taiwan/1.jpeg" width="150" height="150"></div>
            </a>
            <a href="img/taiwan/1.jpeg" data-lightbox="example-set">
                <div class="tt"><img src="img/taiwan/1.jpeg" width="250" height="250"></div>
            </a>
        </div>
    </div>
    <script src="js/locate.js"></script>
</body>

</html>
