<html>
<body>
    <div class="categories-page_show-content">
        <div id="content_for_scroll" class="content_locate">
            <a href="img/venice/1.jpg" data-lightbox="example-set">
                <div class="tt"><img src="img/venice/1.jpg" width="350" height="250"></div>
            </a>
            <a href="img/venice/3.jpg" data-lightbox="example-set">
                <div class="tt"><img src="img/venice/3.jpg" width="180" height="110"></div>
            </a>
            <a href="img/venice/3.jpg" data-lightbox="example-set">
                <div class="tt"><img src="img/venice/3.jpg" width="230" height="110"></div>
            </a>
            <a href="img/venice/3.jpg" data-lightbox="example-set">
                <div class="tt"><img src="img/venice/3.jpg" width="230" height="110"></div>
            </a>
            <a href="img/venice/4.jpg" data-lightbox="example-set">
                <div class="tt"><img src="img/venice/4.jpg" width="200" height="230"></div>
            </a>
        </div>
    </div>
    <script src="js/locate.js"></script>
</body>

</html>
